:root {
    --navbar-bg: 240,255,253;
    --bg-color: #f0fffd;
    --text-color: #00331a;
    --accent: #0c6;
    --bg-color-2: rgba(0,51,26,0.726);
    --bg-color-3: #e0e0e0;
    --bg-color-4: rgba(0,51,26,.032);
}
[data-theme='dark'] {
    --navbar-bg: 23,23,23;
    --bg-color: #171717;
    --text-color: #f5f5f5;
    --accent: #00e673;
    --bg-color-2: #292929;
    --bg-color-3: #292929;
    --bg-color-4: #1f1f1f;
}





.parent{


    width: 90%;
    height: 60%;
padding-bottom: 5rem;
padding-top: 10rem;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;

    /*box-shadow: 0 8px 15px rgba(0,0,0,.1);*/
}
.parent .container1{
display: flex;
    justify-content: center;
    place-items: center;

    width: 100%;
    height: 90%;
}

.parent .container1 div{

  background: var(--bg-color-4);
    width: 90%;
    height: auto;
    padding: 2%;
    position: relative;
    border-radius: 2rem;
    z-index: 1;
}



.parent .container1 div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid  var(--bg-color-2);
    height: 102%;
    width: 102%;
    color: #fff;
opacity: 0.5;
    transform: rotate(-1.5deg);
    border-radius: 2rem;

}






.parent .container1 div h1{



    font-size: 38px;
    line-height: 120%;
    letter-spacing: 1px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, .1);
    position: relative;
    font-family: Kanit;
    color: var(--text-color);
    width: 90%;
    font-weight: bold;
    padding-left: 2rem;
    padding-top: 2rem;
}

.parent .container1 div h4{

    font-size: 1.4rem;


    text-shadow: 2px 4px 3px rgba(0, 0, 0, .1);
    position: relative;
    font-family: Cascadia Code;

    width: 90%;
padding-top: 0.1rem;
    padding-left: 2rem;
    color: var(--accent);

    font-weight: 400;

}


.parent .container1 div p{




    text-shadow: 2px 4px 3px rgba(0, 0, 0, .1);
    position: relative;
    font-family: Kanit;
    font-weight: 300;
    opacity: 70%;
    width: 90%;
    padding-top: 0.1rem;
    padding-left: 2rem;
    color: var(--text-color);
    margin: 1.6rem 0 2.4rem;
    text-align: justify;


}







.parent  .container2 {
    background: var(--bg-color-4);
    width: 100%;
    height: 90%;
padding: 1rem;
gap: 0.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    transform: rotate(-2.9deg);
    border-radius: 2rem;
}
.container2 div{
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    opacity: 0.45;
/*transition:all .2s ease-in-out;*/

    padding: 8rem 3.2rem 0;
background: var(--bg-color-4);
}

.container2 div:nth-child(1){

    background-position: center;

background-image: url('../images/a1.jpeg');
   background-size: cover;
}

.container2 div:nth-child(2){
    background-position: center;
    background-size: cover;
    background-image:url('../images/a2.jpeg');


}
.container2 div:nth-child(3){
    background-position: center;
    background-size: cover;
    background-image:url('../images/a3.jpeg');
}
.container2 div:nth-child(4){
    background-position: center;
    background-size: cover;
    background-image: url('../images/a4.jpeg');}


.container2 div:hover{

    opacity: 1;
    transform: rotate(1.9deg) scale(1.3)
}







@media only screen and (max-width: 820px) {

    .parent{


        width: 90%;
        height: 100%;
gap: 5rem;
padding: 2rem;
        display: grid;
        place-items: center;
        grid-template-columns:  1fr;

        /*box-shadow: 0 8px 15px rgba(0,0,0,.1);*/
    }
    .parent  .container2 {


        height: auto;
    }

}





@media only screen and (max-width: 420px) {
    .parent .container1 div{


        width: 100%;

        padding: 0%;
        position: relative;
        border-radius: 2rem;
        z-index: 1;
    }

    .parent{


        width: 90%;
        height: 100%;
        gap: 5rem;
        padding: 0rem;
        padding-top: 3rem;
        display: grid;
        place-items: center;
        grid-template-columns:  1fr;

        /*box-shadow: 0 8px 15px rgba(0,0,0,.1);*/
    }
}


@media only screen and (max-width: 520px) {

    .parent  .container2 {
        background: var(--bg-color-4);
        width: 100%;
    height: auto;
        padding: 1rem;
        gap: 0.5rem;
        display: grid;

        grid-template-columns: 1fr;

        transform: rotate(0deg);
        border-radius: 2rem;
    }

    .parent  .container2 div{
        width: 100%;
        height: 100%;

    }
    .container2 div:hover{

        opacity: 1;
        transform: rotate(0deg) scale(1.1)
    }



}
