@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Libre+Franklin:ital,wght@1,900&family=Montserrat:ital@1&family=Oxygen:wght@300&family=Vollkorn:ital,wght@1,800&display=swap');
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
    --navbar-bg: 240,255,253;
    --bg-color: #f0fffd;
    --text-color: #00331a;
    --accent: #0c6;
    --bg-color-2: rgba(0,51,26,0.726);
    --bg-color-3: #e0e0e0;
    --bg-color-4: #ededed;
    transition: ease-in 1s;
}
[data-theme='dark'] {
    --navbar-bg: 23,23,23;
    --bg-color: #171717;
    --text-color: #f5f5f5;
    --accent: #00e673;
    --bg-color-2: #292929;
    --bg-color-3: #292929;
    --bg-color-4: #1f1f1f;

}

.parentcontainer{
    scroll-snap-type: y mandatory;
    background: var(--bg-color);
}

section:nth-child(1){
    height: 100vh;
padding-bottom: 2rem;
    overflow-x: hidden;
}


.section3{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    height:auto ;
    place-items: center;
}

.section4{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
flex-direction: column;
    place-items: center;
    position: relative;
    padding-bottom: 2rem;
   padding-top: 2rem;

}
.section2 {
padding-bottom: 60px;
    height:auto ;
    overflow-x: hidden;

}

section:nth-child(3) {


}
.container {

    padding-top: 4rem;

    display: grid;
    grid-template-columns: 380px 1fr;
}

.imagecon img {

    min-width: 280px;
    max-width: 280px;


}
.imagecon {


    display: grid;
    place-items: center;
    justify-content: flex-end;
}

.introduction {


    display: flex;
    flex-direction: column;

    justify-content: center;
}

.introduction h1 {
    font-size: 62px;
    line-height: 120%;
    letter-spacing: 1px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, .1);
    position: relative;
    font-family: Kanit;
    color: var(--text-color);
    width: 90%;

}

.introduction h4 {

    font-family: Cascadia Code;
    color: var(--text-color);
    text-align: left;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.introduction h1 span {
    color: var( --accent);
}

.introduction .btns {
    margin-top: 1rem;
    gap: 10px;

    display:  flex;

    place-items: center;
    height: 70px;
}
.introduction .btns div  {

    gap: 10px;
    width: 100%;
    display:  flex;

justify-content: start;
    place-items: center;
    height: 100%;
}

.introduction .btns div a {
    background:var( --bg-color-2);
    padding: 10px 10px 7px 10px;
    border-radius: 50%;
    border: 1.5px solid #000000;
    transform: translate(-50%,-50%);
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
}

.introduction .btns div a img {
    filter: invert(100%);

    width: 23px;
    height: 23px;

}

.introduction .btns a{
    background:var(--accent);
    border: 1px solid #000000;
    font-weight: bold;
    font-family: Cascadia Code;
    font-size: 15px;
    padding: 15px 25px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;

}

@media only screen and (max-width: 820px) {
    .container {
        height: 100%;
        gap: 2rem;
justify-content: center;
        display: grid;
        grid-template-columns:  1fr;
    }

    .imagecon {

        justify-content: center;
        place-items: end;
    }

    .introduction {
        place-items: center;
        justify-content: center;

    }
    .introh{
        text-align: center;
    }

    .introduction .btns {
        justify-content: center;

    }

    .introduction .btns div  {
justify-content: center;
    }


}

@media only screen and (max-width: 720px) {
    .introduction h1 {
        margin-bottom: 1rem;
        font-size: 40px;
    }
}
@media only screen and (max-width: 520px) {
    .introduction h4 {
        text-align: center;
        font-size: 1rem;
    }
    .introduction .btns {
flex-direction: column;
        margin-top: 1rem;
    }
    .imagecon img {

        min-width: 150px;
        max-width: 150px;
    }
    .introduction h1 {
        margin-bottom: 1rem;
        font-size: 40px;
    }
    .container {
       gap: 0;

    }

}
@media only screen and (max-height: 820px) {
    section:nth-child(1){
        height: auto;
        padding-bottom: 2rem;
        overflow-x: hidden;
    }



}
